.nav-enlace{
    display: inline-block;
    background-color: aqua;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace:hover{
    background-color: antiquewhite;
}

nav{
    background-color: blueviolet;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
@media (max-width: 600px){

    nav{
      background-color: black;  
      flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    
    }

}