*{
    padding: 0%;
    margin: 0%;
}

nav{
    padding: 20px;
   color: rebeccapurple;
    background-color:mediumvioletred
}

.columna{  
    background-color: chartreuse;
    padding: 20px;
    color: antiquewhite;
    width: 25%;
    margin: 25px;
}

.padre{
    display: flex;
}